body {
  background-color: #249791;
}
h1 {
  padding-left: 5%;
  margin: 5% 0 2% 0;
  margin-bottom: 2%;
  font: bold 2em Georgia;
  color: rgb(4, 70, 70);
  background-color: aquamarine;
}
p {
  margin-left: 5%;
  line-height: 1.5;
  font: 1em Georgia;
  color: white;
}
